/**
 * COMPONENTS
 * Name : Button
 ************************************************************ */


.c-button {
  @include appearance;
  position: relative;
  font-weight: $font-bold;
  color: $color-foreground;
  @include rem(border, 2px solid $color-foreground);
  @include rem(border-radius, 25px);
  transition: color 0.2s ease, background-color 0.2s ease;

  &:hover {
    color: $color-background;
    background-color: $color-foreground;
  }

  @include mq($until: medium) {
    @include rem(padding, 13px 20px);
    @include font-size(14px, 16px);
  }

  @include mq($from: medium) {
    @include rem(padding, 13px 30px);
    @include font-size(16px, 20px);
  }
}


/**
 * Types
 ****************************** */

.c-button--white {
  color: $color-white;
  border-color: $color-white;

  &:hover {
    color: $color-foreground;
    background-color: $color-white;
  }
}
