/**
 * LAYOUTS
 * Name : Blocks
 ************************************************************ */


.l-blocks {
  position: relative;
}


  /**
   * Item
   ****************************** */

  .l-blocks__item {

    &:not(:first-child) {

      @include mq($until: small) {
        @include rem(margin-top, $gutter-size*2);
      }

      @include mq($from: small, $until: medium) {
        @include rem(margin-top, $gutter-size*2.5);
      }

      @include mq($from: medium, $until: large) {
        @include rem(margin-top, $gutter-size*3.5);
      }

      @include mq($from: large) {
        @include rem(margin-top, $gutter-size*4);
      }
    }
  }

  .l-blocks__item--picture {

    @include mq($until: medium) {

      .l-container & {
        @include rem(margin-right, -$gutter-size);
        @include rem(margin-left, -$gutter-size);
      }
    }
  }


    /**
     * Gallery
     ****************************** */

    .l-blocks__gallery {}


    /**
     * Picture
     ****************************** */

    .l-blocks__picture {
      display: block;
      @include rem(max-height, 900px);
      margin-right: auto;
      margin-left: auto;
    }


    /**
     * Caption
     ****************************** */

    .l-blocks__caption {
      text-align: center;
      color: $color-dark-grey;

      &:not(:first-child) {

        @include mq($until: medium) {
          @include rem(margin-top, $gutter-size*0.75);
          @include font-size(12px, 15px);
        }

        @include mq($from: medium) {
          @include rem(margin-top, $gutter-size*1.5);
          @include font-size(14px, 20px);
        }
      }
    }


    /**
     * Video
     ****************************** */

    .l-blocks__video {
      position: relative;
      padding-top: 56.25%;
    }

      .l-blocks__iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
