/**
 * LAYOUTS
 * Name : Grid
 ************************************************************ */


.l-grid {
  position: relative;
}


  /**
   * Items
   ****************************** */

  .l-grid__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }


    /**
     * Item
     ****************************** */

    .l-grid__item {}
