/**********************************************************************************
 * SETTINGS
 * Name : Global
 *
 * The global settings file contains any project-wide variables; things that
 * need to be made available to the entire codebase.
 **********************************************************************************/


/**
 * Containers
 **********************************************************************************/

$container: 960px;
$container-small: 740px;
$container-large: 1280px;


/**
 * Gutters
 **********************************************************************************/

$gutter-size: 20px;


/**
 * Breakpoints
 **********************************************************************************/

$mq-breakpoints: (
  "small": 480px,
  "medium": 720px,
  "large": 960px,
  "xlarge": 1280px
);


/**
 * Z indexes
 **********************************************************************************/

$z-header: 20;
$z-footer: 10;
