---
title: TE Voyages
---

- body_class "homepage"


/ UTIL:
/ = image_tag dato.homepage.training_picture.url({ w: 200, h: 100, fit: 'crop', crop: 'center' }), :class => 'c-manifest__picture'


/ HEAD
.l-main__head
  = "head"


/ BODY
.l-main__body
  = "body"


/ FOOT
.l-main__foot
  = "foot"
