---
title: Qui sommes-nous ? | TE Voyages
---

- body_class "page-about"


/ UTIL:
/ = image_tag dato.homepage.training_picture.url({ w: 200, h: 100, fit: 'crop', crop: 'center' }), :class => 'c-manifest__picture'


/ HEAD
.l-main__head
  h1= dato.about.title


/ BODY
.l-main__body
  = "body"


/ FOOT
.l-main__foot
  = "foot"
