---
title: Vidéos | TE Voyages
---

- body_class "page-videos"


/ UTIL:
/ = image_tag dato.homepage.training_picture.url({ w: 200, h: 100, fit: 'crop', crop: 'center' }), :class => 'c-manifest__picture'


/ HEAD
.l-main__head
  = "VIDÉOS"


/ BODY
.l-main__body


/ FOOT
.l-main__foot
